<!DOCTYPE html>
<head>
  <%= render :partial => "/shared/javascripts" %>
  <%= render :partial => "/shared/stylesheets" %>
</head>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>

  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="container">
      <div id="container-inner" class="pkg">
        <div id="pagebody">
          <div id="pagebody-inner" class="pkg">
              <div id="beta">
                <div id="beta-inner" class="pkg">
                  <%= yield %>
                </div>
              </div>
              <div id="gamma">
                <div id="gamma-inner" class="pkg">
                  <%= render :partial => "/blog/shared/categories" %>
                  <%= render :partial => "/blog/shared/tags" %>
                  <%= render :partial => "/blog/shared/rss_feed" %>
                  <%= blog_archive_list %>
                </div>
              </div>
            </section>
          </div>
        </div>
        <footer>
          <%= render :partial => "/shared/footer" -%>
        </footer>
      </div>
    </div>
  </body>
</html>